.header {
  width: 100%;
  padding: 1rem 2rem;
  background: white;
  border-bottom: 1px solid #eee;
}

.header_container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  margin-right: 35px;
}

.header_profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header_profile select {
  border: none;
  font-size: 1rem;
  color: #333;
  cursor: pointer;
  padding-right: 1.5rem;
  background: transparent;
}

.header_profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.header_menu {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.header_menu_message,
.header_menu_notification {
  position: relative;
  cursor: pointer;
}

.header_menu_message span,
.header_menu_notification span {
  position: relative;
}

.header_menu_message span::after,
.header_menu_notification span::after {
  content: '14';
  position: absolute;
  top: -5px;
  right: -5px;
  width: 17px;
  height: 17px;
  background: #e31235;
  border-radius: 50%;
  font-size: 11px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_menu_notification span::after{
  content: '90';
}
.header_buttons {
  display: flex;
  gap: 1rem;
}

.header_buttons_button {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.5rem;
  transition: all 0.2s;	
  height: 40px;
}

.header_buttons_button:first-child {
  background-color: #FFE7EB;
  color: #E31235;
}

.header_buttons_button:last-child {
	background-color: #FFE7EB;
  color: #E31235;
}

.header_buttons_button h2 {
  font-size: 1.3rem;
  font-weight: 500;
  margin: 0;
  white-space: nowrap;
}

.header_buttons_button span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  background-color: #E31235;
  border-radius: 4px;
  position: relative;
}

.header_buttons_button span::before,
.header_buttons_button span::after {
  content: '';
  position: absolute;
  background-color: white;
}

.header_buttons_button span::before {
  width: 12px;
  height: 1px;
}

.header_buttons_button span::after {
  width: 1px;
  height: 12px;
}

.profilePhoto {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #eee;
}
